    <div class="modal fade" id="myModalOperator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">
                Notificación
              </h4>
            </div>
            <div class="modal-body table-responsive"  style="max-height:30em !important;" id="ajax-operator-content">
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="verify_first_asistant_view_watched()">Entendido</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModalOperator2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">
                Arreglo de requisitos
              </h4>
            </div>
            <div class="modal-body"  >
              <div class="table-responsive" id="ajax-operator-content2">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="verify_first_asistant_view_watched()">Arreglar</button>
            </div>
          </div>
        </div>
      </div>