.animated_arrow_button {
  border: 1px solid white;
  background: white;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  color: blue;
  transition: background 0.5s ease;
}

.animated_arrow_button:hover {
  background: blue;
  color: white;
  font-weight: normal;
}

.animated_arrow_button:hover i {
  color: white;
}

i {
  color: blue;
  margin-left: 20px;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

.arrow2 {
  animation: slide2 1s ease-in-out infinite;
}

.arrow3 {
  transform-origin: 0% 50%;
  animation: slide3 1s ease-in-out infinite;
}

.arrow4 {
  transform-origin: 0% 50%;
  animation: slide4 4s linear infinite;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}


@keyframes slide2 {
  0%,
  100% {
    transform: translate(0, 0) rotate(45deg);
  }

  50% {
    transform: translate(10px, 10px) rotate(45deg);
  }
}

@keyframes slide3 {
  0%,
  100% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(45deg);
  }
}

@keyframes slide4 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}