* {
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.page-wrap{
  max-width: 75rem;
  margin: 0 auto;
}

h1 {
  color: #8e44ad;
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 1.25rem 0;
}

// Effect Styles Start Here

%label-movement {
  // Move up, colorize and shrink
  font-size: 0.75em;
  color: #8e44ad;
  top: -2.25rem;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
  float: left;
  width: 33.3333%;
  margin: 2rem 0 1rem;
  position: relative;
  label {
    color: #999;
    padding: 1rem;
    position: absolute;
    top: 0;    
    left: 0;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
  }
  &.wide {
    // Full width textarea fields
    width: 100%;
  }
}

input, textarea {
  padding: 1rem 1rem;
  border: 0; 
  width: 100%;
  font-size: 1rem;
  ~ span {
    // Border Effect
    display: block;
    width: 0;
    height: 3px;
    background: #8e44ad;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }
  &:focus {
    // Trigger the effects
    outline: 0;
	  ~ label {
      // Move Label
      @extend %label-movement;
  	}
    ~ span {
      // Expand across
      width: 100%;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    }
	}
  &:valid ~ label/*, &.not-empty ~ label*/ {
    // Keep label above field after its filled out
    @extend %label-movement;
  }
}

textarea {
  // Mods needed for multiline inputs
  width: 100%;
  min-height: 15em;
}