table{
     border-collapse: collapse;
    border-spacing: 0px;  
    font-size:12px !important;
    text-align: center;
  }
  
  
  td {
    /*overflow: auto;*/
    /*max-width:100%;
    white-space:nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
  } 
  
  th.filter
  {
    resize: horizontal;
    overflow: hidden;   
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
      
  }

  th.filter:first-child
  {
    width:80px;
      
  }

  tr td:first-child{
    resize: vertical;
  }

