<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <!--<img width="40" height="20"  src="{{relative_path('/gif/source.gif')}}">-->
    <img width="40" height="20"  src="{{relative_path('/gif/source.gif')}}">
</a>

<ul class="dropdown-menu">
	<li class="divider"></li>
	<a ng-click="get_duplicate_records()" href="#"><i class="fa "></i>Verificar repetidos</a>
	<li class="divider"></li>
	<li class="divider"></li>
	<a ng-click="automatic_repair()" href="#"><i class="fa "></i>Arreglo automatico<br>&nbsp&nbspregistros</a>
	<li class="divider"></li>
	<!--
	<a href=""><i class="fa "></i>Verificar información</a>
 	<li class="divider"></li>-->
</ul>