<script type="text/ng-template" id="dynamic-select.html">

    <select ng-options="data.id as data.title for data in  {{$column.data}} " ng-table-select-filter-ds="$column"  ng-model="params.filter()[name]" class="filter filter-select form-control" name="{{name}}"  extra={{$column.data}}" ></select>
    <input type="text" class="filter form-control" style="height:6px;" ng-model="params.filter()[name]" name="{{name}}">

 
</script>


<table id="dynamicTable" ng-table-dynamic="MC.Ngtable with MC.headers" class=" table table-responsive table-bordered" show-filter='true'>
  <tr ng-repeat="row in $data">    
    <td ng-repeat="header in $columns" ng-init="col = get_column_by_reference(header)" filter="col.filter">

      <div class="resize_column">

        <p ng-show="col.Field != 'Opciones' && col.Type != 'timestamp' && col.Key != 'MUL' && col.foreign_column == null && col.KEY !=  'extra_column'" >
          {{::row[col.Field]}}
        </p>

       <span  ng-if ="col.Key == 'MUL'  " class="text_table" >{{foreign_value(col.key_data,row[col.Field])}}</span>

       
       <span ng-if="col.foreign_column != null">
          {{foreign_value(col.foreign_column,row[col.Field])}}
       </span>

       <span ng-if="col.KEY ==  'extra_column' " ng-init="data = extra_column(MC.columns,col,row)">
          {{data.get_row[col.get]}}
       </span>       

      </div>
    </td>             
  </tr>             
</table>