<script type="text/ng-template" id="dynamic-select.html">

    <select ng-options="data.id as data.title for data in  {{$column.data}} " ng-table-select-filter-ds="$column"  ng-model="params.filter()[name]" class="filter filter-select form-control" name="{{name}}"  extra={{$column.data}}" ></select>
    <input type="text" class="filter form-control" style="height:6px;" ng-model="params.filter()[name]" name="{{name}}">

 
</script>


<table id="dynamicTable" ng-table-dynamic="MC.Ngtable with MC.headers" class=" table table-responsive table-bordered" show-filter='true'>
  <tr ng-repeat="row in $data" ng-init="render_option = false;" ng-dblclick='render_option = render_edit({roles:[1,2]})'>    
    <td ng-repeat="header in $columns" ng-init="col = get_column_by_reference(header)" filter="col.filter">

      <div class="resize_column">

        <!---- checkbox en id --->
       
          <input ng-if="col.Field == 'id' && id_in_checkbox == true " type="checkbox" ng-model="selected_boxes"  ng-change="add_to_selected_boxes(row[col.Field])"> 
        
        <!------------------------>

        <!----- Valor normal de tabla , no valor foraneo , no valor asociado ---> 
        <p ng-show="col.Field != 'Opciones' && col.Type != 'timestamp' && col.Key != 'MUL' && col.foreign_column == null && col.Key !=  'extra_column' && col.Key !=  'json_columns' "  ng-model="row[col.Field]" contenteditable="{{session_roles([1,2]) && col.Field != 'id' }}" ng-blur="save_property_to_db(row[col.Field],col.Field,row.id,col.Key)">
          {{::row[col.Field]}}
        </p>
        <!------------------------>

       <!----- Valor foraneo con conexión directa ---> 
        <div ng-if ="col.Key == 'MUL'" >  
          
        <span  ng-show ="render_option == false " class="text_table" >{{foreign_value(col.key_data,row[col.Field])}}</span>

        <select ng-if ="render_option == true " class="form-control" ng-init="generate_var({varname:'data_to_edit'+row.id,index:col.Field,data:dynamicLinkedSelectArray({col:col,row:row})})" id="{{row.id+col.Field}}" ng-model="row[col.Field]">
          <option  ng-repeat="selector in var_generate['data_to_edit'+row.id][col.Field]"  ng-value="selector[idselectordynamicparam[col.Field]]"   >
            {{selector[valueselectordynamicparam[col.Field]]}}
          </option>
        </select>

        </div>
       <!------------------------>
       
       <!----- Valor foraneo con conexión directa , establecida por en objeto json de columna--->
       <span ng-if="col.foreign_column != null">
          {{foreign_value(col.foreign_column,row[col.Field])}}
       </span>
       <!------------------------>       

       <!----- Valor foraneo con conexión indirecta , asociado por otros valores --->
       <div ng-if ="col.Key == 'extra_column'"  >
         
        <span ng-show ="render_option == false "  ng-init="data = extra_column(MC.columns,col,row)">
            {{data.get_row[col.get]}}
        </span>
         
        <select ng-if ="render_option == true " class="form-control" ng-init="generate_var({varname:'data_to_edit'+row.id,index:col.Field,data:dynamicLinkedSelectArray({col:col,row:row})})" id="{{row.id+col.Field}}" ng-click="on_change_to_edit({field:col.Field,id:row.id})">
          <option value=""></option>
          <option  ng-repeat="selector in var_generate['data_to_edit'+row.id][col.Field]" ng-selected="{{valueselecteddynamic != false && valueselecteddynamic[row.id+col.Field] == selector[idselectordynamicparam[col.Field]]}}"  value="{{selector[idselectordynamicparam[col.Field]]}}">
            {{selector[valueselectordynamicparam[col.Field]]}}
          </option>
        </select>

       </div>  
       <!------------------------>

       <!----- Columnas json , columnas que se acoplan a registros por medio de objetos json  --->
        <div ng-if="col.Key == 'json_columns'">
          <p   ng-init="row[col.Field]=''" ng-model="row[col.Field]" contenteditable="{{col.editable && session_roles([1,2])}}" ng-blur="save_property_to_db(row[col.Field],col.Field,row.id,col.Key)" >{{get_from_json_data("Requisitos",col.Field,row.id)}}</p>       
        </div>
       <!------------------------>        
        
        <!----- Botones de acción  --->
        <div ng-show="col.Field == 'Opciones'">

          <button  ng-repeat="action in col.actions" ng-show="action.not_render == null" title="{{action.title}}" ng-if="check_session_action(action.role) && evaluate_column_conditions(action.condition,row) " ng-click="execute_action(row,current_view,action)"><i class="fas fa-{{action.icon}}"></i></button>       
          
        </div> 
        <!------------------------>

      </div>
    </td>             
  </tr>
  <tr ng-if="create_register == true">
      
      <td ng-repeat="header in $columns" ng-init="col = get_column_by_reference(header)">
      
          <div ng-if="col.Field == 'id' ">            
              <button ng-click="register_new_requirement()" class="animated_arrow_button btn">Crear Nuevo registro<i class="fas fa-arrow-right arrow1" aria-hidden="true"></i>
              </button>
          </div>
       
        <!----- Valor normal de tabla , no valor foraneo , no valor asociado ---> 
          <p ng-show="col.Field != 'Opciones' && col.Type != 'timestamp' && col.Key != 'MUL' && col.foreign_column == null && col.Key !=  'extra_column' && col.Key !=  'json_columns'" ng-model="new_requirement[col.Field]" contenteditable="{{session_roles([1,2]) && col.Field != 'id'}}" style="border: 2px solid red;">
          
          </p>
        <!------------------------>


        <!----- Valor foraneo con conexión directa ---> 
        <div ng-if ="col.Key == 'MUL'" >      
       
        <select  class="form-control"  id="{{'new_element'+col.Field}}" ng-init="generate_var({varname:'data_to_new_element',index:col.Field,data:dynamicLinkedSelectArray({col:col,row:null})})"  ng-model="new_requirement[col.Field]">          
          <option  ng-repeat="selector in var_generate['data_to_new_element'][col.Field]"  ng-value="selector[idselectordynamicparam[col.Field]]"   >
            {{selector[valueselectordynamicparam[col.Field]]}}
          </option>
        </select>

        </div>
       <!------------------------>
       
        
      <!----- Valor foraneo con conexión indirecta , asociado por otros valores --->
       <div ng-if ="col.Key == 'extra_column'"  >       
        <select class="form-control" id="{{'new_element'+col.Field}}" ng-init="generate_var({varname:'data_to_new_element',index:col.Field,data:dynamicLinkedSelectArray({col:col,row:null})})"  ng-click="on_change_to_edit({field:col.Field,id:'new_element'})">
          <option value="">Selecciona</option>
          <option  ng-repeat="selector in var_generate['data_to_new_element'][col.Field]"  value="{{selector[idselectordynamicparam[col.Field]]}}">
            {{selector[valueselectordynamicparam[col.Field]]}}
          </option>
        </select>

       </div>  
       <!------------------------>


      </td>
  </tr>             
</table>